/* CSS Geral */
html{
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100% !important;
    max-width: none !important;
    padding:0px;
    margin:0px;
}
nav#main-menu{
    background-color: #000000ba;
    position: absolute;
}
nav#main-menu ul a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.brand-logo img{
    height: 60px !important;
}
section{
    width: 100%;
}
#sections{
    background-color: white;
    padding: 20px;
    padding-top: 10px;
}
#sections h1{
    margin-top: 15px;
    text-align: center;
}
#sections .carousel{
    height: 200px;
    margin: 0 auto !important;
    user-select: none;
}
#sections .carousel p, #sections .carousel i{
    color: black !important;
}
#sections .carousel i{
    font-size: 10rem;
}
#sections .carousel h4{
    color: black;
    margin-top: 0px;
}
#info{
    padding: 30px;
    width: 100%;
    margin: 0px;
    height: auto;
    background-image: url('../images/cafefundo.jpg');
    background-size: auto auto;
}
.box .box-header{
    border-radius: 15px 15px 0px 0px;
    background-color: #084208 !important;
    color: #efefef;
}
.box .box-body{
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
}
/* Slider configuration */
#slider{
    width: 100%;
    margin: 0px;
    height: 100vh;
    background-image: url('../images/bondinhoSlider.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
#title{
    padding-top: calc(100vh / 2 - 50px);
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}
.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
#mapa{
    padding-top: 64px !important;
    margin: 0px !important;
}
#mapa > div{
    padding: 20px !important;
}
footer{
    padding-top: 0px !important;
}
@media only screen and (max-width: 425px){
    #title{
        padding-top: calc(100vh / 2 - 100px);
    }
}
@media only screen and (max-width: 782px){
    #slider{
        background-size: auto 100%;
    }
}
@media only screen and (max-width: 601px){
    .brand-logo img{
        height: 54px !important;
    }
    #info{
        padding:2px;
        padding-top:20px;
        padding-bottom:20px;
    }
}

/* Scroll */
::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #CCC; 
}